
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Halant', serif;
}

body {
    /* background-color: green; */
}

form {
    width: 40%;
    background-color: #eee;
    margin: 0 auto;
    padding: 4% 6%;
}

h1 {
    margin-bottom: 30px;
    font-size: 40px;
    font-weight: 600;
}

label {
   width: 45%;
   text-align: left;
   display: inline-block;
   font-weight: 600;
}

input {
    /* width: 65%; */
}

div {
    margin-bottom: 20px;
}

.button {
    text-align: right;
    padding: 0 30px;
}

button {
    padding: 2% 22%;
    background-color: #155eef;
    color: #eee;
    border: 0;
    font-size: 10px;
}


